# Basic of Print function in python

In [35]:
# we can pass any number of arguments to python print function

In [61]:
print('ankit','govind','shivane','age=',27)

a,b,c=1,2,3
print('values are:',a,b,c)

ankit govind shivane age= 27
values are: 1 2 3

In [38]:
#  1. python print statement always add new line '\n' at the end of it

In [39]:
name='ankit'
surname='shivane'

In [32]:
print(name)
print(surname)

ankit
shivane

In [40]:
# there is an end attribute available in python using that we can change the behavior of adding new line at end of it

In [56]:
print()

In [58]:
print(name,end=' ')
print(surname,end=' ')
print('age=',end='')
print(27)
print() # insert a new line so a blank line will be inserted
print('IT Engineer')

ankit shivane age=27

IT Engineer

In [59]:
# we can use any special character in print such as \n or \t

In [60]:
print('ankit\tshivane\nage-27')

ankit	shivane
age-27

In [49]:
# sep attribute

In [65]:
a,b,c=1,2,3
print('values are:',a,b,c,sep='-',end=' ')
print('values are:',a,b,c,sep='$$')

values are:-1-2-3 values are:$$1$$2$$3

# Identifire in python

an identifire is any name given to variable,function or class through which we can identify that thing
1) Python identifire can contain only below things:
    a-z
    A-Z
    0-9
    _ (underscore)
apart from anything used in python identifire will throw an error

2) we can not use any reserved keyword as an identifire in python
3) we can create an identifire with any length there is no restriction in python for this

In [5]:
#example of identifires

total123=12 # valid identifire

In [6]:
123total=2 # invalid because python identifire can not starts with digit

SyntaxError: invalid syntax (Temp/ipykernel_22172/3334784212.py, line 1)

In [7]:
first_name='ankit' # valid

In [9]:
first@name='ankit' # invalid because only _ as a special character is allowed

SyntaxError: cannot assign to operator (Temp/ipykernel_22172/179843259.py, line 1)

In [10]:
_var     # this denotes a protected identifire variable name or method
__var    # this denotes a private identifire variable name or method
__var__  # this denotes a magic identifire variable name or method

NameError: name '_var' is not defined

# Reserved keywords

python has 36 reserved keywords
a reserve keywords means it have some meaning or functionality attached to it 
we can not use a reserve keyword as an identifire in python

In [15]:
import keyword

In [16]:
keyword.kwlist  # print list of reserve keywords available in python

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [17]:
len(keyword.kwlist)

36

# Data type in python

1. Python is a dynamically typed language as we dont need to define a type of a variable before declaring it python virtual machine automatically detects the type of variable by using value assigned to it

2. 


Text Type:	    str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	    set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

A)  int type

python int type stores only integral number or we can say whole numbers only 
we can store any range of value in int type there is no concept of long data type in python 3.x to sotre int values with long integral value. Long data type is present as a part of python 2.x which removed in 3.x and not we can store everything in int

In [18]:
var1=10

In [19]:
type(var1)

int

In [23]:
var2=121322324232222333333333333311111111222222222222211111111 # no need of long data type
print(var2)

121322324232222333333333333311111111222222222222211111111

# REPRESENT INTEGRAL VALUE IN PYTHON

in python we can represent python data type in 4 ways

1. decimal form (base 10)
2. binary form (base 2)
3. octal form (base 8)
4. Hexadecimal form (base 16)

but python by default will print the value in decimal format only if you want the conversion to be done then there are base conversion libraries available in python which you can use

In [28]:
#1. Decimal Form (base-10)

#we can denote using number system number which are 0-9

a=123

print('value of a is:',a)

b=983
print('value of b is:',b)

value of a is: 123
value of b is: 983

In [77]:
#1. Binary Form (base-2)
# allowed value is 0 or 1
# literal value should be prefixed with 0b or 0B  (literal means the raw data assigned to variable in python)

In [68]:
print(0b1111) # here we printed binary form of 1111

15

In [70]:
print(0B1111) # we can use either 0b or 0B to tell python virtual machine that this is a binary number

15

In [75]:
a=0b110101

In [72]:
type(a)

int

In [73]:
print(a)

53

In [78]:
# Octal form base-8

#allowed values are 0 to 7
#literal value prefixed with 0o or 0O

In [79]:
c=0o123

In [80]:
print(c)

83

In [81]:
print(0O123)

83

In [83]:
# Hexadecimal number base-16

#allowed digits are 0 to 9 and A to F (here we can take A to F in any case not necessary to take in capital)
#literal value should prefixed with 0x or 0X

In [84]:
d=0x122839AF

In [85]:
print(d)

304626095

In [87]:
print(0X10)

16

In [88]:
e=0xFace

In [89]:
print(e)

64206

BASE CONVERSION

1
bin()  function converts anything to binary

oct()  function converts anything to octal representation

hex()  function converts anything to hexadecimal representation

In [100]:
f=bin(15)

In [101]:
type(f)

str

In [102]:
f

'0b1111'

In [106]:
bin(0O234)

'0b10011100'

In [107]:
bin(0xFace)

'0b1111101011001110'

In [108]:
oct(31212)

'0o74754'

In [109]:
oct(0b11111)

'0o37'

In [110]:
oct(0xFace)

'0o175316'

Float Data Type

Base conversion is not applicable for floating point value otherwise we will get syntax error

In [113]:
f=127.54545545

In [114]:
type(f)

float

In [127]:
f=1.2e3  # where e is known as exponential form or floating point values

# below is the representation
#    1.2 * 10^3
#    1.2 * 1000
#    1200.0

In [121]:
f

1200.0

In [124]:
f1=1.2E3  # we can take small e or E it is the same

In [123]:
f1

1200.0

In [125]:
f2=12e3

In [126]:
f2

12000.0