# Tuples in Python

1) Tuples can hold homogeneus and heterogeneous data  with duplicates values
2) Tuple is immutable collection in python means we can not change the value at any indexes in tuple     (3) insertion order is preserved in tuple

In [1]:
t=(1,2,3,4,5,5)

In [2]:
t

(1, 2, 3, 4, 5, 5)

In [3]:
type(t)

tuple

In [4]:
t1=(1,1.2,'ankit',True,(3+3j))

In [5]:
t1

(1, 1.2, 'ankit', True, (3+3j))

In [6]:
t2=()

In [7]:
type(t2)

tuple

Slicing in operation in tuple

In [8]:
t1

(1, 1.2, 'ankit', True, (3+3j))

In [9]:
t1[0:]

(1, 1.2, 'ankit', True, (3+3j))

In [10]:
t1[0:2]

(1, 1.2)

In [12]:
t1[::-1] ## reversed a tuple

((3+3j), True, 'ankit', 1.2, 1)

In [14]:
t1[-1::-1]## reversed a tuple

((3+3j), True, 'ankit', 1.2, 1)

In [15]:
t1

(1, 1.2, 'ankit', True, (3+3j))

In [16]:
t1[0]

1

In [18]:
t1[0]='ankit'  #tuple' object does not support item assignment we can not reassign or change the value at any location

TypeError: 'tuple' object does not support item assignment

In [22]:
t+t1  # here we are performing append operation which is allowed because we are appending one tuple to another tuple and not changing any item at any location

(1, 2, 3, 4, 5, 5, 1, 1.2, 'ankit', True, (3+3j))

In [25]:
t

(1, 2, 3, 4, 5, 5)

In [26]:
t1

(1, 1.2, 'ankit', True, (3+3j))

In [27]:
t=t+t1

In [28]:
t

(1, 2, 3, 4, 5, 5, 1, 1.2, 'ankit', True, (3+3j))

In [29]:
t1

(1, 1.2, 'ankit', True, (3+3j))

In [31]:
t1*2  # it will repeat the same tuple with given number

(1, 1.2, 'ankit', True, (3+3j), 1, 1.2, 'ankit', True, (3+3j))

In [32]:
t

(1, 2, 3, 4, 5, 5, 1, 1.2, 'ankit', True, (3+3j))

In [35]:
t.count(1)  # it is considering the floating point 1 also

3

In [37]:
t.count(2)

1

In [38]:
t.count(3)

1

In [42]:
t.index(5)  # find the index of element in tuple

4

In [43]:
t3=(1,2,4,t1,t2)

In [44]:
t3

(1, 2, 4, (1, 1.2, 'ankit', True, (3+3j)), ())

In [47]:
t4=(t1,[1,2,4,'ankit']) # we can hold any other tuple inside a tuple or also a list inside a tuple

In [46]:
t4

((1, 1.2, 'ankit', True, (3+3j)), [1, 2, 4, 'ankit'])

In [53]:
l1=[1,2,t4]  # we can also add a tuple inside a List

In [54]:
l1

[1, 2, ((1, 1.2, 'ankit', True, (3+3j)), [1, 2, 4, 'ankit'])]

In [61]:
t4[1][2]=2 # we can change the item inside a list holding in tuple because list is mutable

In [60]:
t4

((1, 1.2, 'ankit', True, (3+3j)), [1, 2, 2, 'ankit'])

In [62]:
l2=[1,2]

In [76]:
l3=list(t4)  # convert Tutples to list

In [69]:
type(l3)

list

In [72]:
t4

((1, 1.2, 'ankit', True, (3+3j)), [1, 2, 2, 'ankit'])

In [73]:
l3

[(1, 1.2, 'ankit', True, (3+3j)), [1, 2, 2, 'ankit']]

In [74]:
len(t4)

2

In [75]:
len(l3)

2

In [80]:
t5=tuple([1,2,3,4,5])  # convert list to tuple

In [81]:
type(t5)

tuple

#  SET in python

1) Holds Unique element only and eleminate duplicate element
2) its an unordered collection so slicing or index based search is not applicable
3) set is mutable object because we can not add a set inside any other set or append it
4) set can hold homogeneous and heterogeneous type of data
5) we cannot add any other type of collection into set such as list and set itself also except immutable object as we can add immutable collection to set like tuple
6) slicing operation is not allowed in set as it is a unordered collection object

In [82]:
l=[1,2,3,4,5,5,6,3,5,2,3,4]

In [84]:
l

[1, 2, 3, 4, 5, 5, 6, 3, 5, 2, 3, 4]

In [89]:
set(l) # create a set using a list

{1, 2, 3, 4, 5, 6}

In [90]:
s={}  # {} will create a dictionary and not a set

In [91]:
type(s)

dict

In [96]:
s1=set() # create an empty set object

In [97]:
type(s1)

set

In [98]:
s1

set()

In [101]:
s2={1,2,3,4} # it will create a set as we have provided value in it without key value pair so it will create a set object

In [102]:
type(s2)

set

In [103]:
s3={2,2,3,4,5,5,5,5,5,5,1,1,1,1}

In [105]:
s3

{1, 2, 3, 4, 5}

In [106]:
s3[0]  # as set is an unordered collection object it is not going to store any index based element internally so it will give an error while accesing the element

TypeError: 'set' object is not subscriptable

In [107]:
s3

{1, 2, 3, 4, 5}

In [117]:
s3.add('ankit') # append element in set

In [109]:
s3

{1, 2, 3, 4, 5, 'ankit'}

In [113]:
s4={7,6,7,44}

In [114]:
s4

{6, 7, 44}

In [122]:
s3.add([12,2])  # as we store unique objet in set we can not add any other collection type (except immutable collection type) to set because set can only find the unique element among primitive types and not a collection types

TypeError: unhashable type: 'list'

In [118]:
s5={1,2,[3,1]}

TypeError: unhashable type: 'list'

In [130]:
s5={1,2,(3,2,2,1,1),(3,2,2,1,1)} # as tuple are immutable we can add tuple to set but only unique tuple

In [131]:
s5

{(3, 2, 2, 1, 1), 1, 2}

In [134]:
list(s5) # convert set to list

[1, 2, (3, 2, 2, 1, 1)]

In [135]:
s5

{(3, 2, 2, 1, 1), 1, 2}

In [139]:
s5.remove(1)  # remove the provided element from set and not from that index

KeyError: 1

In [141]:
s5

{(3, 2, 2, 1, 1), 2}

In [144]:
s5.remove(121)  # remove will give error if element not found to be removed

KeyError: 121

In [148]:
s5.discard(121) # whereas discard will also remove the elemtn from the given set but if the element not found it will not throw any error

In [149]:
s5.discard(2)

In [150]:
s5

{(3, 2, 2, 1, 1)}

In [2]:
{'sudh',"Sudh"}  # as python is case sensative this will consider as two different element

{'Sudh', 'sudh'}

# Dictionary in Python

1) Dictionary store data in a key and value pair
2) Key should be unique in dictionary if you duplicated some keys in dictionary then it will take the latest value of duplicated dictionary and value can be anything in dictionary
3)

In [5]:
d={} # if it is a blank brace then it will create a dictionary

In [6]:
type(d)

dict

In [7]:
d1={"k1":12,"k2":12,"k3":11}

In [9]:
d1

{'k1': 12, 'k2': 12, 'k3': 11}

In [12]:
d2={"k1":12,"k2":12,"k2":11,"k4":[3232,21],"k5":(1,2,3),"k6":{1,2,3,2,1}}

In [13]:
d2

{'k1': 12, 'k2': 11, 'k4': [3232, 21], 'k5': (1, 2, 3), 'k6': {1, 2, 3}}

In [19]:
type(d2)

dict

In [20]:
d2['k1']

12

In [21]:
type(d2['k6'])

set

In [22]:
len(d2)

5

In [28]:
d3={
    .5:"ankit"
    
} # you should give valid meaningful name as a KEY in dictionary no special character is allowed as a key in dictionary

In [29]:
d3

{0.5: 'ankit'}

In [10]:
d4={1:'a',2:3,'++*':'ankit',"k1":{'k1':2,'k2':4}}

In [11]:
d4[1]

'a'

In [12]:
d4[2]

3

In [13]:
d4['++*']

'ankit'

In [15]:
d4['k1']['k1']

2

In [20]:
d4.keys()  # access all the keys

dict_keys([1, 2, '++*', 'k1'])

In [21]:
d4.values()  # access all the values

dict_values(['a', 3, 'ankit', {'k1': 2, 'k2': 4}])

In [22]:
d4.items()  # access all elements of dictionary inside list containing tuples with key and value

dict_items([(1, 'a'), (2, 3), ('++*', 'ankit'), ('k1', {'k1': 2, 'k2': 4})])

In [26]:
d4

{1: 'a', 2: 3, '++*': 'ankit', 'k1': {'k1': 2, 'k2': 4}}

In [29]:
d4['key2']="shivane"  # if you are assigning some values to a key and that key is not present in dictionary then it will add new key to the dictionary and if key is present then it will change the value of that key

In [30]:
d4

{1: 'a', 2: 3, '++*': 'ankit', 'k1': {'k1': 2, 'k2': 4}, 'key2': 'shivane'}

In [33]:
d4['key2']='ankit'  # update existing key

In [34]:
d4

{1: 'a', 2: 3, '++*': 'ankit', 'k1': {'k1': 2, 'k2': 4}, 'key2': 'ankit'}

In [37]:
del d4['key2']  ## delete a key from dictionary

KeyError: 'key2'

In [38]:
d4

{1: 'a', 2: 3, '++*': 'ankit', 'k1': {'k1': 2, 'k2': 4}}

In [41]:
del d4  # delete entire dictionary

NameError: name 'd4' is not defined

In [40]:
d4

NameError: name 'd4' is not defined

In [42]:
d5={'l1':2,'l2':12}

In [44]:
d5[[1,2,3]]='ankit'  ## we cannot create a key as a list as the key it is not a immutable collection

TypeError: unhashable type: 'list'

In [47]:
d5[(1,2,3)]='ankit' # but we can create a key as a tuple as it is a immutable collection

In [48]:
d5

{'l1': 2, 'l2': 12, (1, 2, 3): 'ankit'}

In [50]:
d5[{1,2,3,4}]='set'  # set is also a mutable collection so we cannot add it as a key

TypeError: unhashable type: 'set'

In [53]:
d5.get('l1')  ## get value from key l1

2

In [54]:
d6={'k1':'ineuron','k2':'krish'}

In [58]:
d5.update(d6) ## combine two dictionary or update value of d6 to d5

In [60]:
d5

{'l1': 2, 'l2': 12, (1, 2, 3): 'ankit', 'k1': 'ineuron', 'k2': 'krish'}

In [62]:
key=("name",'surname','mobile_no')
value='some default'

In [65]:
d6=d5.fromkeys(key,value)  ## it will create dictionary from given key and value

In [66]:
d6

{'name': 'some default',
 'surname': 'some default',
 'mobile_no': 'some default'}

In [70]:
d7={}.fromkeys(key,value)  ## it requires a dictionary to call a function fromkeys

In [71]:
d7

{'name': 'some default',
 'surname': 'some default',
 'mobile_no': 'some default'}

In [74]:
t1={1}

In [75]:
type(t1)

set